.box-shadow{
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}
.bg-blue{
    background-color: #1976d2;
}
.bg-white{
    background-color: #fff;
}
.bg-gray-light{
    background-color:#fafbfc;
}

.text-white{
    color: white;
}
.text-blue{
    color: 	#0366d6;
}
.text-gray-light{
    color: #6a737d;
}
.text-gray{
    color: #586069;
}