.d-flex{
    display: flex;
}
.flex-items-center{
    align-items: center;
}
.flex-column{
    flex-direction: column;
}
.flex-recolumn{
    flex-direction: column-reverse;
}

.flex-justify-center{
    justify-content: center;
}
