.f3{
    font-size: 20px;
}
.f4{
    font-size: 16px;
}
.f5{
    font-size: 14px;
}
.f6{
    font-size: 12px;
}
.h4{
    font-size: 24px;
}
.h5{
    font-size: 30px;
}
.text-decoration-none{
    text-decoration: none;
}
.text-align-center{
    text-align: center;
}