.m-0{
    margin: 0px;
}
.m-1{
    margin: 4px;
}
.m-2{
    margin: 8px;
}
.m-3{
    margin: 16px;
}
.m-4{
    margin: 24px;
}

.my-1{
    margin-top: 4px;
    margin-bottom: 4px;
}
.m-conter{
    margin-left: auto;
    margin-right: auto;
}